<div class="flex justify-center gap-3 pt-10">    
    <button class="btn btn-neutral" (click)="getInternalServerError()">Test Internal Server Error(500) Error</button>
    <button class="btn btn-accent" (click)="getBadRequestError()">Test Bad Request(400) Error</button>
    <button class="btn btn-secondary" (click)="getAuthorizationError()">Test Authorization Error(401) Error</button>
    <button class="btn btn-success" (click)="getNotFoundError()">Test Not Found Error(404) Error</button>
    <button class="btn btn-info" (click)="getBadRequestValidationError()">Test Bad Request Validation Error(400) Error</button>
</div>

@if (validationErrors().length > 0) {
    <div class="card bg-base-100 flex mt-5 rounded-2xl w-1/2 p-3 mx-auto">
        <ul class="flex flex-col text-red-600 space-y-2">
            @for (error of validationErrors(); track $index) {
                <li>{{error}}</li>
            }
        </ul>
    </div>
}